body {   
    background: beige;
    font-family: sans-serif;
    line-height: 1.6;        
}

h1 a {
    color: green;
    text-decoration: none;
}

h1 a:hover {
    background-color: green;
    color: white;
}

.container {
    margin: 0 auto;
    width: 960px;
}

.place {
    background-color: white;
    border-color:#CCC #999 #999 #CCC;
    border: 1px solid #CCC;
    margin-bottom: 20px;
    padding: 10px;
    
}

.place a {
    font-weight: bold;
}

.place a:hover {
    background-color: gray;
    color:white;
}

.place img {
    float: left;
    margin: 10px;
}

.places {
    float: left;
    width: 660px;
}

.place h2 {
    border-bottom: 1px dashed green;

}

.sidenote {
    background-color: palegoldenrod;
    float: right;
    width: 260px;
    border: 1px solid lightslategray;
    padding: 10px;
}

.sidenote h3 {
    border-bottom: 1px solid;
    font-size: 14px;
}

.sidenote ol {
    font-size: 12px;
}

.footer {
    text-align: center;
    font-size: 12px;
}

.clear {
     clear: both;
}